# put comment with '#'
# allowed variable types are integer, real, logical,complex string, array of integer and real64
a = 56 #inline comment allowed
b = 90 # all are case-insensitive
aa=99
#^ blank lines allowed
c=.True.
D=this_file  # don't put quote while passing string
e = (1,2)    # complex not working properly all time

# directly parse integer/real64 array
# put values (mandatorily) seperated by comma
f = 1,2,3,45
g = 11.1, 99.8d0, 90